 <div class="user-details">
  <h1> Experience </h1>
  <p style="text-align: left"> 
    <strong>최근 까지 우아한형제들(배달의민족) Delivery Platform</strong> 팀(배민라이더스)에서 라이더의 배달 업무 수행을 위한 <strong>실시간 배달 관제 운영 시스템</strong>을, 
    <strong>Amazon Webservice</strong> 인프라 기반하에 Java Spring 과 JPA 로 개발하였으며 라이더앱 API도 개발해왔습니다.<br/> <br/> 
    <strong>팀내 Front-End 기술리딩을 맡아 React와 Mobx</strong>로 Front-End를 개발, 
    실시간으로 라이더 및 배달 정보를 관리 하기 위하여 <strong>Node.js Socket.io 기반 Websocket Server 개발경험</strong>을 가지고 있습니다. 또한 사내 타 시스템과 연동을 위해 <strong>MSA 환경을 고려한 개발경험</strong>이 있습니다.
  </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Back-End</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <p><strong>Java Spring Framework, JPA</strong>, MySql 기반으로 주로 <strong>실시간 배달 운영 관제 시스템</strong>의 Back-End API 및 <strong>라이더 배달앱</strong> API 개발, Node.js <Strong>Socket.io 기반의 Websocket</Strong> 서버 개발 경험</p>
    </div>
    <div class="tech">
      <h2>Front-End</h2>
      <i class="devicon-react-plain-wordmark colored"></i>
      <i class="devicon-webpack-plain-wordmark colored"></i>
      <i class="devicon-angularjs-plain-wordmark colored"></i>
      <p><strong>React와 Mobx를 사용하여 Front-End</strong> 개발, AngularJS 1.xx 개발경험, Webpack, npm등 최근 Front-End 생태계 익숙하며, <strong>팀내 Front-End 기술 리딩</strong>.</p>
    </div>
    <div class="tech">
      <h2>Infra & Tools</h2>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <i class="devicon-intellij-plain-wordmark colored"></i>
      <i class="devicon-confluence-plain-wordmark colord"></i>
      <p><strong>Amazon Webservice에서 Elastic Beanstalk에서 서버운영</strong>, SNS, SQS를 MSA 구축 활용, Jenkins 배포 환경에서 개발, JIRA, Confluence 환경에서 업무.</p>
    </div>
</div>
<div class="user-details">
  <h1> Career </h1>
  <p><strong>배달의민족</strong> - 딜리버리플랫폼팀(배민라이더스), 서버, API, 웹 프론트엔드 개발 , 2013/03 ~ 2019/06 (6년)</p>
  <p><strong>부동산써브</strong> - 부동산종합정보제공 교육 컨설팅, 웹개발, 2008/09 ~2012/08 (4년)</p>
</div>
