<div class="user-details">
    <h1> Career </h1>
  </div>
<div class="user-career">
  <div class="career-images-left">
    <img alt="woowa-bros-log" src="{{ "/assets/img/woowa-bros-logo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="career-right">
    <h3> 우아한형제들 </h3>
    <ul>
      <li>업종 - 배달음식 플랫폼</li>
      <li>근무기간 - 2013/03 ~ 2019/06 (6년)</li>
      <li>근무팀 - 딜리버리플랫폼팀(배민라이더스) </li>
      <li>역할 - JAVA 벡엔드 API, React 프론트엔드 개발 </li>
    </ul>
  </div>
</div>

<div class="user-career">
  <div class="career-images-left">
    <img alt="r-serve-log" src="{{ "/assets/img/r-serve-logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="career-right">
    <h3> 부동산써브 </h3>
    <ul>
      <li>업종 - 부동산종합정보제공 및 교육 컨설팅</li>
      <li>근무기간 - 2008/09 ~2012/08 (4년)</li>
      <li>근무팀 - 웹 개발팀 </li>
      <li>역할 - 부동산 포털 사이트 개발 </li>
    </ul>
  </div>
</div>
  
  