<script type="text/javascript">
    var host = "github.io";
    
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v4.0"></script>
<!--<meta name="google-site-verification" content="DYzSXC40_JfAcR4rApWXzlQZdF_jpnGpkXmNVCTwkcc" />-->
<meta name="naver-site-verification" content="f1cd735caec0d9f78c0108426288fb40e725f65f"/>
<script data-ad-client="ca-pub-9704310102902568" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<link rel="alternate" hreflang="ko-kr" href="https://kimchanjung.github.io/" />
<link rel="alternate" hreflang="x-default" href="https://kimchanjung.github.io/" />
