<head>
  {% include common.html %}
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Blog",
      "additionalType": "TechArticle",
      "url" : "{{site.url}}",
      "name": "{{ site.title }}",
      "description": "{{site.description}}",
      "author": {
        "@type": "Person",
        "name": "{{site.username}}"
      },
      "datePublished": "2019-09-01",
      "dateModified": "{{site.time}}"
    }
</script>
</head>
