<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{page.title}}</span>
        <span class="site-description">{{ page.date | date: '%B %d, %Y' }}</span>
      </h1>
      <div class="header-links">
        <span> Developer KimChanJung's Blog</span>
      </div>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Github" target="_blank" href="{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
  </div>
  <a class="down" href="#content" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
