#career {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    @media only screen and (min-width: $cut) {
      width: 80%;
    }
  }
  
.user-career {
  margin: 20px auto;
  img {
    max-width: 100%;
    height: auto;
  }
  h5 {
    margin: 0;
  }
  
  p {
    margin-right: 5px;
  }
}

.career-right {
  @media only screen and (min-width: $cut) {
    float: right;
    margin-top: -5%;
    width: 500px;
  }
}

.career-images-left {
  @media only screen and (min-width: $cut) {
    text-align: right;
    float: left;
  }
  @media only screen and (max-width: $cut) {
    text-align: center;
  }
  img {
    @media only screen and (min-width: $cut) {
      max-width: 180px !important;
      display: block;
      margin: 0 40px 0 auto;
    }
    @media only screen and (max-width: $cut) {
      width: 180px !important;;
    }
  }
}