<!DOCTYPE html>
<html lang="ko_KR">
    {% include common.html %}
    {% include post-head.html %}
    <body>
        {% include post-header.html %}
        <section id="content"></section>
        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                <div class="home">
                    <section class="post" itemscope itemtype="http://schema.org/BlogPosting">
                        <article role="article" id="scroll" class="post-content" itemprop="articleBody">
                            {{ content }}
                        </article>
                    </section>
                </div>
                <div class="fb-comments" data-href={{ site.url | append: page.url }} width="100%" data-numposts="10"></div>
            </div>
        </main>
        {% include footer.html %}
    </body>
</html>